class Secret:
    SECRET_KEY = "SECRET KEY GOES HERE"

    # Social Auth
    SOCIAL_AUTH_GITHUB_KEY = 'Client ID goes here'
    SOCIAL_AUTH_GITHUB_SECRET = 'Client Secret goes here'
    SOCIAL_AUTH_TWITTER_KEY = ''
    SOCIAL_AUTH_TWITTER_SECRET = ''
    SOCIAL_AUTH_FACEBOOK_KEY = ''
    SOCIAL_AUTH_FACEBOOK_SECRET = ''
