span.step {
  background: #292c2f;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #febd15;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
  font-size: 1.3rem;
  position: relative;
  left: -4rem;
  top: 3rem;
}

.total{
  font-size: 1.4rem;
}
